@if (isHeaderVisible()) {
<header class="header">
  <div class="logo">
    <mat-icon class="logo-icon">camera_indoor</mat-icon>
  </div>
  <div class="controls-block">
    <div class="search-block">
      <app-search-input />
      <button mat-icon-button
              (click)="toggleSortBlock()">
        <mat-icon>{{ showSortBlock() ? 'close' : 'settings' }}</mat-icon>
      </button>
    </div>
    <div class="sort-block"
         [class.show]="showSortBlock()">
      <mat-form-field appearance="fill">
        <mat-label>Sort by</mat-label>
        <mat-select [(ngModel)]="sortCriteria"
                    (selectionChange)="onSortChange()">
          <mat-option value="date">Date</mat-option>
          <mat-option value="views">View Count</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Order</mat-label>
        <mat-select [(ngModel)]="sortDirection"
                    (selectionChange)="onSortChange()">
          <mat-option value="asc">Ascending</mat-option>
          <mat-option value="desc">Descending</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill"
                      class="filter-input">
        <mat-label>Filter by word or sentence</mat-label>
        <input matInput
               type="text"
               [(ngModel)]="filterTerm"
               (input)="onFilterChange()">
      </mat-form-field>
    </div>
  </div>
  <div class="login">
    <button mat-button
            (click)="logout()"
            class="header-btn">
      <mat-icon>person</mat-icon>
      {{ isHeaderVisible() ? 'Logout' : 'Login' }}
    </button>
  </div>
</header>
}