<header class="header">
  <div class="controls-block">
    <div class="search-block">
      <app-search-input></app-search-input>
    </div>
    <div class="sort-block">
      <span>Sorting by: </span>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">date</mat-radio-button>
        <mat-radio-button value="2">count of views</mat-radio-button>
        <mat-radio-button value="2">word or sentence</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</header>