<div class="search-input-wrapper">
  <mat-form-field appearance="outline"
                  subscriptSizing="dynamic"
                  class="form-field">
    <mat-label>Search Video</mat-label>
    <input matInput
           type="text"
           [formControl]="searchQueryControl">
    @if (searchQueryControl.value) {
    <button matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="clearSearch()">
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-form-field>
</div>