.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
}

.video-card {
  align-items: center;
  flex-direction: column;
  max-width: 900px;
}

.video-image-wrapper {
  width: 100%;
}

.video-image {
  width: 100%;
}

.video-content {
  width: 100%;
}

mat-card-actions {
  gap: 1rem;
}

.go-back-btn {
  align-self: flex-start;
}

.video-description,
.video-date,
mat-card-title {
  padding: 0 1rem;
}
