.button-wrapper {
  display: flex;
  justify-content: space-between;
}

.admin-container {
  padding: 2rem 0;
}

mat-card-content {
  display: flex;
  justify-content: center;
}

mat-form-field {
  width: 500px;

  @media (max-width: 699px) {
    width: 300px;
  }
}

mat-card-title {
  margin-bottom: 2rem;
}

.tags {
  margin-bottom: 2rem;
}

.remove-btn {
  margin-left: 1rem;
}

.tag-button {
  margin-top: 2rem;
}
