<mat-card class="item-card"
          appearance="outlined"
          [appBorderColor]="item().snippet.publishedAt">
  <img mat-card-image
       [src]="item().snippet.thumbnails.medium.url"
       alt="{{ item().snippet.title }}">
  <mat-card-actions>
    @for (stat of itemsStats; track stat.label) {
    <button mat-icon-button
            [attr.aria-label]="stat.label">
      <mat-icon>{{ stat.icon }}</mat-icon>
      <span class="counts">{{ item().statistics[stat.property] }}</span>
    </button>
    }
  </mat-card-actions>
  <mat-card-content class="card-content">
    <mat-card-title>{{item().snippet.title}}</mat-card-title>
  </mat-card-content>
  <app-custom-button class="card-button">more...</app-custom-button>
</mat-card>